STELLAR_NETWORK=TESTNET
HORIZON_URL=https://horizon-testnet.stellar.org
SOROBAN_RPC_URL=https://soroban-testnet.stellar.org
DEPLOYER_PUBLIC_KEY=""
DEPLOYER_SECRET=""
EXECUTOR_PUBLIC_KEY=""
EXECUTOR_SECRET=""
REGISTRY_CONTRACT_ID=""
GEMINI_API_KEY=""
